:root {
  --component-width: 340px;
  --sentiment-positive-color: #4caf50;
  --sentiment-negative-color: #f44336;
  --sentiment-neutral-color: #9e9e9e;
  --badge-font-size: 12px;
  --badge-padding: 2px 5px;
  --badge-border-radius: 3px;
  --background-dark: #383838;
  --text-light: #aebbe4;
  --border-dark: #333333;
}

#analyze-btn {
  display: flex;
  align-items: flex-start;
  position: fixed;
  top: 25vh;
  right: 1px;
  width: 80px;
  height: 60px;
  cursor: pointer;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

#analyze-panel {
  display: none;
  flex-direction: column;
  position: fixed;
  bottom: 1vh;
  right: 1vw;
  width: var(--component-width);
  height: 640px;
  background-color: var(--background-dark);
  color: var(--text-light);
  border: 1px solid var(--border-dark);
  border-radius: 4px;
  z-index: 9999;
  font-family: Arial, Helvetica, sans-serif !important;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
}

#analyze-panel::-webkit-scrollbar {
  display: none;
}

#analyze-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--border-dark);
  position: fixed;
  width: calc(var(--component-width) - 2px);
  background-color: var(--background-dark);
  color: var(--text-light);
  height: 33px;
  overflow-x: hidden;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  z-index: 10000;
}

#analyze-content {
  margin-top: 33px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

#analyze-main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 8px;
  gap: 8px;
  height: 30%;
}

#image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  max-width: 150px;
  max-height: 150px;
}

#image {
  max-width: 100% !important;
  max-height: 100% !important;
}

#info-main {
  flex-grow: 1;
  display: flex;
  width: 60%;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

#info-title {
  font-size: 20px;
  font-weight: bold;
  padding: 1px;
}

#info-subtitle {
  font-size: 16px;
  color: var(--text-light);
  padding: 1px;
  padding-left: 2px;
}

#score-wrapper {
  display: flex;
  flex-grow: 1;
  align-items: center;
  padding: 12px 0;
}

#sentiment-color {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

#sentiment-score {
  font-size: 16px;
  padding: 1px;
  font-weight: bold;
}

#sentiment-description {
  font-size: 14px;
  padding: 1px;
  color: var(--text-light);
  padding-left: 4px;
}

#sentiment-grade {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 1;
  font-size: 48px;
  padding-right: 16px;
}

.sentiment-detail {
  display: flex;
  margin: 8px 16px 0 16px;
  padding-bottom: 8px;
  border-bottom: #d5d5d5 1px solid;
  gap: 8px;
}

.sentiment-detail-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 32px;
  gap: 4px;
}

.sentiment-detail-left img {
  width: 32px;
  height: 32px;
  opacity: 0.8;
}

.sentiment-detail-name {
  font-size: large;
  padding: 1px;
}

.sentiment-detail-text {
  font-size: small;
  color: #666666;
  padding: 1px;
}

.sentiment-detail-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-width: 92px;
  gap: 8px;
}

.sentiment-detail-quantity {
  font-size: medium;
  color: #666666;
  padding: 1px;
  text-align: right;
}

.sentiment-detail-color {
  min-width: 20px;
  height: 20px;
  border-radius: 50%;
}

.sentiment-badge {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: var(--sentiment-neutral-color);
  color: var(--text-light);
  padding: var(--badge-padding);
  border-radius: var(--badge-border-radius);
  font-size: var(--badge-font-size);
  z-index: 1000;
}

.sentiment-badge.positive {
  background-color: var(--sentiment-positive-color);
}

.sentiment-badge.negative {
  background-color: var(--sentiment-negative-color);
}
